body{
    background-color: bisque;
    clear: both;
}

aside {        
    background-color:cornflowerblue;
    border: black 1px solid;
    border-radius: 8px;
    float: left;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;   
}

h1{
    color:red;
    font-size: 25px;
}

h2  {
    color:rgb(75, 47, 107);
    font-size: 20px;
    clear: both;
}

header{
    background-color: gold;
    font-size: 30px;
}

figure.left {
    float: left;
   clear : both;
}

figure.right {
    float: right;
    clear: both;
}

main{
     background-color: darkorange;
     clear: both;
    }

footer{
    background-color: rgb(97, 218, 157);
    border: black solid thin;
    padding-left: 5px;
    border-radius: 8px;
    clear:both;
    }

p.clear{
    clear:both;
    }

h2.clear{
    clear:both;
    }